.form-control-buttons {
	-fx-pref-height: 80px;
	-fx-alignment: CENTER_RIGHT;
	-fx-spacing: 15px;
	-fx-padding: 5px 0px 0px 0px !important;
}

.form-control-buttons .button {
	-fx-pref-height: 40px;
	-fx-pref-width: 80px;
}

.form-control-s {
	-fx-pref-height: 40px;
}

.form-control-m {
	-fx-pref-height: 100px;
}

.form-control-l {
	-fx-pref-height: 140px;
}

.form-row {
	-fx-spacing: 3px;
}

.message-label {
	-fx-font-size: 10px;
}

.toolbox {
	-fx-border-color: #808080;
}

.toolbox-button {
	-fx-pref-width: 150px;
	-fx-pref-height: 75px;
}

.toolbox-vbox {
	-fx-alignment: CENTER;
}