.form-control-s {
	-fx-pref-height: 40px;
}

.form-control-m {
	-fx-pref-height: 100px;
}

.form-row {
	-fx-padding: 3px 0px 9px 0px;
}

.toolbox {
	-fx-border-color: #808080;
}

.toolbox-button {
	-fx-pref-width: 150px;
	-fx-pref-height: 75px;
}

.toolbox-vbox {
	-fx-alignment: CENTER;
}